<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Queen Attack</title>
  </head>
  <body>
    <h1>Can your Queen attack?</h1>

    <form action="/" method="post">
      <label for="queen-x"></label>
      <input type="text" name="queen-x" id="queen-x">
      <label for="queen-y"></label>
      <input type="text" name="queen-y" id="queen-y">
      <label for="victim-x"></label>
      <input type="text" name="victim-x" id="victim-x">
      <label for="victim-y"></label>
      <input type="text" name="victim-y" id="victim-y">
      <button type="submit" class="btn">Attack!</button>
    </form>

    <div class="output">
      <p>@Model</p>
    </div>

  </body>
</html>
